.div{
    background-color: aquamarine;
    border-radius: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 600px;
}

.div img{
    width: 500px;
    height: 400px;
    margin: auto;
}